/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

.tabs {
  padding-top: 20px;
  margin-bottom: 0;
}

.link__wrapper {
  display: flex;
  justify-content: space-between;
}

.main {
  flex: 1;
  overflow-y: scroll;
}

.main__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 1.5rem 1.5rem;
}

.box {
    margin-bottom: 1rem;
}
